node_modules/
dist/
*.tar.gz
*.zip
test/package-lock.json
test/package.json
test/pnpm-lock.yaml
test/testfeed.*
pnpm-workspace.yaml
extra/shakemap.geojson
extra/tjma2001
extra/Z-V4-JAPAN-AMP-VS400_M250.csv
